.ChallengePage-challenge:hover{
    filter : brightness(0.7);
}

.ChallengesPage-main-container{
    height : 100%;
    width : 100%;
}

.ChallengeInfo-data{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width : 90%;
    height : 50%;
    margin : auto;
    flex-grow: 1;
}

.ChallengeInfo-data tr:nth-child(even) {
    background-color: #959595;
    color : rgb(51, 51, 51);
}
.ChallengeInfo-data tr{
    background-color: #555555;
    color : rgb(219, 219, 219);
}

.ChallengeInfo-data td, .ChallengeInfo-data th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}  