.SidePanel-container{
    display : flex;
    flex-direction : column;
    width : 100%;
    height : 100%;
}

.SidePanel-container > div{
    flex : 1;
    position: relative;
}

.SidePanel-centered-item{
    margin : auto;
    top : 0; right : 0; bottom : 0; left : 0;
    width : fit-content;
    height : fit-content;
    position: absolute;
    font-size :1.2rem;
    font-weight: 700;
}
